<h3>Editing <span id="user"><%= @user.name %></span>'s Shift on <%= @shift.date %> (Shift ID: <span id="origShiftID"><%= @shift.id %></span> ) </h3>

<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "text-center alert alert-warning" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center alert alert-danger" %>
  <% else %>
    <%= content_tag :div, value, class: "text-center alert alert-success" %>
  <% end %>
<% end %>


<div id="update_shift">
  <%= simple_form_for(@shift) do |f|%>
    <p>
      <%= f.input(:date, as: :string, autofocus: true, placeholder: 'MM/DD/YYYY', readonly: true) %>
    </p>

    <p>
      <%= f.input(:avail, label: 'Available?', collection: [true, false]) %>
    </p>
    <p>
      <%= f.button(:submit, 'Update Shift', class: "btn btn-primary") %>
    </p>
  <% end %>
</div>

<div>
  <%= simple_form_for(@shift) do |f| %>
    <p>
      <%= f.input(:user_id, label: 'Swap Shift with:', collection: @names) %>
      <!-- main.js has ajax call with dropdown change listener to pull up shifts for the selected user but this ajax call won't fire on initial page load, only after refreshing the page -->
    </p>
  <% end %>
</div>

<div>
  <table class="table table-striped availShifts">
  <thead>
    <td>Select</td>
    <td>Shift ID</td>
    <td>Shift Date</td>
    <td>Employee ID</td>
    <td>Available?</td>
    <td>Weekend?</td>
    <td>Holiday?</td>
  </thead>
  <tbody></tbody>
  </table>
  <button id="swap" class="btn btn-primary">Swap</button>
</div>


<div>
  <%= link_to 'Back', shifts_path %>
</div>